@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=Space+Mono:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Acorn-Bold";
  src: url(/src/fonts/Acorn-Bold.woff2) format(woff2);
}

@font-face {
  font-family: "Acorn-Semi";
  src: url(/src/fonts/Acorn-SemiBold.woff2) format(woff2);
}

@font-face {
  font-family: "Acorn-Medium";
  src: url(/src/fonts/Acorn-Medium.woff2) format(woff2);
}

@font-face {
  font-family: "Gt-Planar";
  src: url(/src/fonts/GT-Planar-Regular.otf) format(opentype);
}

@font-face {
  font-family: "Gt-Planar-Medium";
  src: url(/src/fonts/GT-Planar-Medium.otf) format(opentype);
}

@font-face {
  font-family: "Gt-Planar-Bold";
  src: url(/src/fonts/GT-Planar-Bold.otf) format(opentype);
}

/* html {
  background-color: #fff7ed;
} */

:root {
  font-family:
    Gt-Planar,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #042f2e;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  transition:
    color 250ms,
    background-color 0.25s ease-in-out;
}

#root {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

body {
  margin: 0;
  font-size: 0.8rem;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family:
    Acorn-Bold,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-family:
    Acorn-Semi,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

h3,
h4 {
  font-family:
    Acorn-Medium,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition:
    border-color 0.25s,
    background-color 0.25s ease-in-out;
}
button:hover {
  border-color: #134e4a;
}

.dark {
  color: #ffffff;
  /* background-color: #042f2e; */
  background-color: #111111;
}

#wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero {
  background: url(/images/hero-image.jpg) no-repeat bottom;
  background-size: cover;
}

.placeholder {
  max-width: 1000px;
  height: 500px;
  background-color: #325ad4;
}

@media (min-width: 768px) {
  #wrapper {
    justify-content: flex-end;
  }
}
